body {
  background-color: whitesmoke;
}
#loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 10px #008744 solid;
  border-right: 10px #0057e7 solid;
  border-bottom: 10px #d62d20 solid;
  border-left: 10px #ffa700 solid;
  border-radius: 50%;
  -webkit-animation: spin6 1s infinite linear;
  animation: spin6 1s infinite linear;
}

@-webkit-keyframes spin6 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin6 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.main {
  width: 80%;
  /* height: 80%; */
  background-color: white;
  margin: auto;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
  padding: 10px 0px;
  text-align: center;
  color: black;
  /* text-decoration: underline; */
}

table {
  border-collapse: collapse;
  position: relative;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  margin: auto;
  overflow-x: auto;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  background-color: #ddd;
}
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.foot {
  padding: 10px 0px;
  text-align: center;
  color: black;
}

.foot a {
  text-decoration: none;
}

.mid {
  margin-top: 10px;
  text-align: center;
}

.links {
  width: 50%;
  margin: 5% auto;
}

.links a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* flex-wrap: wrap;
  align-content: space-around; */
}

.active {
  border: 1px solid red;
  margin: 5px;
  border-radius: 10px;
  max-width: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(240, 72, 72)
  );
}

.recover {
  border: 1px solid orange;
  margin: 5px;
  border-radius: 10px;
  max-width: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(240, 162, 72)
  );
}

.death {
  border: 1px solid yellow;
  margin: 5px;
  border-radius: 10px;
  max-width: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(243, 240, 62)
  );
}

.total {
  border: 1px solid green;
  margin: 5px;
  border-radius: 10px;
  max-width: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(43, 207, 43)
  );
}

#box {
  padding: 10px 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-container {
    /* display: flex;
    justify-content: center; */
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .head {
    font-size: larger;
  }

  table {
    font-size: small;
    padding: 2px;
  }
}
